@model GuidedLands.Data.DataObjects.Race

@***REMOVED***
    ViewData["Title"] = "Delete";
***REMOVED***

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Race</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Weight11)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Weight11)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Weight10)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Weight10)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Weight9)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Weight9)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Weight8)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Weight8)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Weight7)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Weight7)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Weight6)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Weight6)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Weight5)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Weight5)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Weight4)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Weight4)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Weight3)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Weight3)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Weight2)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Weight2)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Weight1)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Weight1)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DataDeathvalueDeathNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataDeathvalueDeathNavigation.Death)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DataFiguresize)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataFiguresize.Text)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DataInitiativevalueInitiativeNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataInitiativevalueInitiativeNavigation.Initiative)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DataInjuryvalueInjuryNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataInjuryvalueInjuryNavigation.Injury)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DataLifevalueLifeNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataLifevalueLifeNavigation.Life)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
